/*==========================================================
    Dialogs
==========================================================*/

QDialog {

    background-color: #202225;

}


QGroupBox {

    border: 1px solid #434852;

    border-radius: 8px;

    margin-top: 10px;

}


QGroupBox::title {

    left: 12px;

    padding: 0 4px;

}


