/*==========================================================
    Workspace Launcher
    Global Styles
==========================================================*/


/*==========================================================
    Main Window
==========================================================*/

QMainWindow {
    background-color: #202225;
    color: #F4F6F8;
}

#mainDashboard {
    background-color: #25282D;
}


/*==========================================================
    Generic Widgets
==========================================================*/

QWidget {
    background-color: transparent;
    color: #F4F6F8;
}


/*==========================================================
    Frames
==========================================================*/

QFrame {
    background-color: transparent;
    border: none;
}


/*==========================================================
    Labels
==========================================================*/

QLabel {
    background-color: transparent;
    color: #F4F6F8;
    border: none;
}


/*==========================================================
    Tool Tips
==========================================================*/

QToolTip {
    background-color: #33363D;
    color: white;
    border: 1px solid #4E545D;
    border-radius: 6px;
    padding: 6px;
}


/*==========================================================
    Separators
==========================================================*/

QFrame[frameShape="4"],
QFrame[frameShape="5"] {
    background: #40444B;
}



