/*==========================================================
    Quote Card
==========================================================*/


#quoteCard {

    background-color: #2B2D31;

    border: 1px solid #434852;

    border-radius: 10px;

}


